
table.dataGrid
{
	border-collapse: collapse;
	width: 100%;
	color: rgba(255,255,255,0.92);
	background: rgba(255,255,255,0.04);
	border: 1px solid rgba(255,255,255,0.10);
	border-radius: 14px;
	overflow: hidden;
}

table.dataGrid a, table.dataGrid a:visited
{
	color: #aebbc1;
}

table.dataGrid th, table.dataGrid td
{
	padding: 0.55em 0.6em;
}

table.dataGrid th
{
	border-bottom: 1px solid rgba(255,255,255,0.10);
	background: rgba(255,255,255,0.06);
	color: rgba(255,255,255,0.92);
	font-weight: 700;
}

table.dataGrid tbody
{
	border: none;
}

table.dataGrid td
{
	border-bottom: 1px solid rgba(255,255,255,0.08);
}

table.dataGrid tbody tr:nth-child(odd)
{
	background: rgba(255,255,255,0.03);
}

table.dataGrid tbody tr:hover
{
	background: rgba(56, 189, 248, 0.06);
}

table.dataGrid tr.bold
{
	font-weight: bold;
}

table.dataGrid th.tablesorter-headerAsc,
table.dataGrid th.tablesorter-headerDesc {
	color: #38bdf8;
	/* background-color: #D2E3FB; */
}

/**********************************************/

table.dataGrid2
{
	border-collapse: collapse;
	width: 100%;
	color: rgba(255,255,255,0.92);
	background: rgba(255,255,255,0.04);
	border: 1px solid rgba(255,255,255,0.10);
	border-radius: 14px;
	overflow: hidden;
}

/*table.dataGrid2 a, table.dataGrid2 a:visited
{
	color: #aebbc1;
}*/

table.dataGrid2 th, table.dataGrid2 td
{
	padding: 0.55em 0.6em;
	margin: 0.1em;
}

table.dataGrid2 th
{
}

table.dataGrid2 tbody
{
	border: none;
}

table.dataGrid2 td
{
	border-bottom: 1px solid rgba(255,255,255,0.08);
}

table.dataGrid2 tbody tr:nth-child(odd)
{
	background: rgba(255,255,255,0.03);
}

table.dataGrid2 tbody tr:hover
{
	background: rgba(56, 189, 248, 0.06);
}

table.dataGrid2 thead tr .header {
/*	background-image: url(/images/ui/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;*/
	cursor: pointer;
}

table.dataGrid2 thead tr .headerSortUp {
	background-image: url(/images/ui/asc.gif);
}

table.dataGrid2 thead tr .headerSortDown {
	background-image: url(/images/ui/desc.gif);
}

table.dataGrid2 th.tablesorter-headerAsc,
table.dataGrid2 th.tablesorter-headerDesc {
	color: #38bdf8;
	/* background-color: #D2E3FB; */
}

/**********************************************/
table.reportgrid1
{
	background: rgba(255,255,255,0.04);
	color: rgba(255,255,255,0.92);
	border: 1px solid rgba(255,255,255,0.10);
	border-radius: 14px;
	overflow: hidden;
	border-collapse: collapse;
}

table.reportgrid1 th, table.reportgrid1 td
{
	font-size: 0.9em;
	padding: 0.2em;
}

table.reportgrid1 th
{
	background: rgba(255,255,255,0.06);
	text-align: left;
	padding: .5em 0.4em .5em 0.4em;
}

table.reportgrid1 tr.odd
{
	background: rgba(255,255,255,0.03);
}

table.reportgrid1 tr.bold
{
	font-weight: bold;
}

/**********************************************/

.ssrow:hover
{
	background-color: rgba(56, 189, 248, 0.06);
}

.ssselected
{
	background-color: rgba(56, 189, 248, 0.08);
}

